@{
    ViewData["Title"] = "CreatePost";
}
@model Service.ViewModels.PostViewModel

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Lato', sans-serif;
    }

    h2 {
        text-align: center;
        margin: 20px 0;
        color: #007bff;
    }

    .form-container {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 50px auto;
        max-width: 1000px;
    }

    .form-label {
        color: #007bff;
    }

    .form-control, .form-select {
        border: 2px solid #007bff;
        border-radius: 15px;
        resize: vertical;
    }

    .form-select {
        background-color: #ffffff;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    textarea {
        resize: none;
    }
</style>

<div class="form-container">
    <h2>Create Post</h2>

    <form asp-action="CreatePost" method="post">
        <div class="mb-3">
            <label for="topicId" class="form-label">Topic:</label>
            <div id="allTopics">
                <select v-model="selectedTopicId" class="form-select">
                    <option v-if="topics.length === 0" value="" disabled>No Topics available.</option>
                    <option v-if="topics.length > 0" value="" disabled>Select a topic</option>
                    <option v-if="topics.length > 0" v-for="topic in topics" :key="topic.id" :value="topic.id">{{ topic.title }}</option>
                </select>
                <input type="hidden" name="TopicId" v-model="selectedTopicId" required>
                <span asp-validation-for="TopicId" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="Title" value="@Model.Title" class="form-control" required>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea id="content" name="Content" class="form-control" rows="10" required>@Model.Content</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/views/post/after-submit.js" asp-append-version="true"></script>

    <script type="module">
        import getTopicsMixin from '/js/views/topic/get-topics.js';

        const appTopics = Vue.createApp({
            mixins: [getTopicsMixin],
            data() {
                return {

                };
            },
            methods: {

            },
        });

        const vm = appTopics.mount('#allTopics');

        vm.getTopics();
    </script>
}
