@{
    ViewData["Title"] = "Topics";
}
@using Service.ViewModels
@model List<TopicViewModel>

<style>
    .btn-3d {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

        .btn-3d:hover {
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
        }

    .btn-rounded {
        border-radius: 15px;
    }

    .input-rounded {
        border-radius: 15px;
    }
</style>

<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Explore Topics</h2>

    <div class="row row-cols-6 row-cols-md-6 row-cols-lg-6 g-2">
        @foreach (var topicVM in Model)
        {
            <div class="col mb-3">
                <button class="btn btn-primary btn-lg custom-style w-100 btn-3d btn-rounded" onclick="location.href='@Url.Action("DetailTopic", "Topic", new { topicId = topicVM.TopicId })'">@topicVM.Title</button>
            </div>
        }
    </div>

    <div class="mt-4">
        <form method="post" action="@Url.Action("CreateTopic", "Topic")">
            <div class="form-group mb-4">
                <label for="title" class="form-label h4">Create a New Topic:</label>
                <input type="text" id="title" name="title" class="form-control input-rounded" placeholder="Share your thoughts..." required>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-3d btn-rounded">Submit</button>
        </form>
    </div>
</div>
