@using Service.ViewModels
@model List<NotificationViewModel>

<style>
    .list-group-item {
        background-color: inherit;
    }
</style>

<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="notificationList" class="list-group" style="width: 200px; max-height: 300px; overflow-y: auto;">
                @foreach (var notificationVM in Model)
                {
                    <li class="list-group-item text-light">@notificationVM.Message<br>@notificationVM.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/views/signalr/receive-notice.js"></script>
