@{
    ViewData["Title"] = "Login";
}
@model Service.ViewModels.UserViewModel

<style>
    .captcha-image {
        border-radius: 30px 30px 30px 30px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <h2 class="card-header text-center bg-primary text-white">Login</h2>

                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" id="email" name="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" id="password" name="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="CaptchaCode" class="form-label">Captcha Code</label>
                            <div class="input-group">
                                <input type="hidden" id="uId" name="UId" />
                                <input type="text" id="captchaCode" name="CaptchaCode" class="form-control" required />
                                <img id="captchaImage" alt="Captcha Image" class="captcha-image rounded" style="max-width: 100px; height: auto;" />
                                <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
                            <button type="button" class="btn btn-secondary btn-block mb-3" id="btnRefreshCaptcha" onclick="RefreshCaptcha()">Refresh Captcha</button>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <p class="mb-0">Don't have an account? <a asp-action="Register" asp-controller="User">Register here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function RefreshCaptcha() {
            axios.get('/GenerateCaptcha')
                .then(function (response) {
                    $('#captchaImage').attr('src', `data:image/gif;base64,${response.data.img}`);
                    $('[name="CaptchaCode"]').val("");
                    $('[name="UId"]').val(response.data.uId);
                })
                .catch(function (error) {
                    console.error('Error refreshing captcha:', error);
                });
        }

        RefreshCaptcha();
    </script>
}